<div>
  <h1> Hello {{username}} What do you want to do today?</h1>
  <div class="search-job">
    <button><a href="/">Search for a jobs</a></button>
  </div>

  <div class="search-job">
    <button><a href="/addjob">Add a job</a></button>
  </div>

  <div class="search-job">
    <button><a href="/alljobs">See Recent Jobs</a></button>
  </div>

</div>


  <div>
    <h1>Here are Some Jobs we think you May Love</h1>
  </div>


</div>