<div class="job-search">
  <form class="search-form"></form>
  <h1>
    search for a job
  </h1>
  <div class="search-job">
    <label for="jobSearch"></label>
    <br>
    <input id="jobSearch" type="text" name="jobSearch"/>
    <br>
    <button class="search-button" type="submit">search</button>
  </div>
  </form>
</div>
<script src="javascript/search-job.js"></script>