<section id="search" class="job-search">
    <h1>Search for Jobs</h1>
    <form action="/alljobs/search" class="search-job">
      <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">
      <input type="submit" value="Search">
    </form>
  </section>



{{!-- <script src="javascript/search-job.js"></script> --}}