<div class="job-search">
  <h1>
    search for a job
  </h1>
  <div class="search-job">
    <input id="jobSearch" type="text" name="jobSearch"/>
    <br>
    <button class="search-button" type="submit">search</button>
  </div>
</div>
<script src="javascript/search-job.js"></script>